@charset "UTF-8";
/* CSS Document */

* { /*all*/
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 22 px;
  text-align: center;
}

header {
  min-height: 500px;
  background-image: url('../images/awesomefest3.jpg');
  /*header image that covers the entire element*/
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
}

.wrapper {
  width: 100%;
  padding: 0 10%;
  margin-left: auto;
  margin-right: auto;
}

h1,
h3 {
 font-family: 'Rock Salt', cursive;
 color: #000000;
 padding-bottom: 25px;
}

h1 {
  font-size: 100px;
  color: #ffffff;
  text-shadow: 2px 2px 2px #000000;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  color: #ffffff;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 22px;
}

main {
  padding-top: 60px 0;
}

header > div > h3 {
  color: #ffffff;
}

/*Style & size the images*/
.images {
  display:flex;
}

.images div:nth-child(1) {
  width: 50%;
  height: auto;
}

.images div:nth-child(1) img{
  width: 100%;
}

.images div:nth-child(2) {
  width: 50%;
  height: auto;
}

.images div:nth-child(2) img{
  width: 100%;
}

/*Style the table*/
table {
  margin-bottom: 50px;
  table-layout: fixed;
  width: 100%;
  border: 3px solid #333333;
  caption-side: bottom;
}

th,
td {
  padding: 10px;
}

thead th:nth-child(1) {
  width: 20%;
  background-color: #BF3EFF;
}

thead th:nth-child(2) {
  width: 60%;
  background-color: #BF3EFF;
}

thead th:nth-child(3) {
  width: 20%;
  background-color: #BF3EFF;
}

tbody tr:hover {
  background-color: #BF3EFF;
}

ul {
  list-style: none;
}

caption {
  color: #333333;
  padding-top: 10px;
}
/*Style the form*/
input,
option,
select,
textarea,
option {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
}

textarea {
  overflow: auto;
}

form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

fieldset {
  border: none;
  padding: 15px 0;
  margin-top: 15px;
}

input,
label,
select {
  display: block; /*by default these are inline*/
}

input,
select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  outline: 0;
  background-color: #EAEAEA;
  color: #1D1C1C;
  box-shadow: 0 1px 0 rgb(0,0,0,0.3) inset;
}

select {
  height: 40px;
}

label {
  padding: 25px 0 15px 0;
}

input[type="submit"] {
  font-size: 18px;
  width: 100%;
  position: relative;
  padding: 15px;
  color: #1D1C1C;
  margin: 0 auto;
  background-color: #BF3EFF;
  text-align: center;
  margin: 10px 0;
}

footer p {
  color: #BF3EFF;
  padding: 30px;
}
